on:
  push:
    branches: [main]
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  build:
    # env:
      # URL: ${{ secrets.URL }}
      # URL2: ${{ secrets.URL2 }}

    name: Fetch data
    runs-on: ubuntu-latest
    # continue-on-error: true
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - run: npm ci

      - name: Run node file
        run: npm run build --if-present

      - name: Sleep for a few seconds
        run: sleep 10s

      - name: Commit report
        run: |
          git config --global user.name 'atageldi194229'
          git config --global user.email 'atageldi194229@gmail.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

          git add -A
          git commit -m "Automated data update" || echo "No changes to commit"
          git push || echo "No changes to push"

# on:
#   push:
#     branches: [main]
#   repository_dispatch:
#   workflow_dispatch:
#   schedule:
#     - cron: "*/5 * * * *"
# jobs:
#   build:
#     env:
#       URL: ${{ secrets.URL }}
#       # URL2: ${{ secrets.URL2 }}
#       URL2: "https://giamping.com/repository/vpnrequestmobile.php?message=MBVRvEzBAVRWJST8NhVTRCAKbh2gO2ztsF5pwbdVfjd1UaqvsdTg9K122p1JxkuXgILF5npSo48jFf9ZAPnSe2rIRxq3QCGClEu21YSWLU6F3Nvf0XMJ2LU34sHuKa8go0DN0vHaf2OEFYNrhcXcGpozFezCj8OlN8cPzPrnIsLLMzBeTcglmF0jFS9gZZQipqU/3pbsftSRlUY1j5/BMpGPVPNhWMxE4m71qx7Ryfy5j967hXwjrP7dhrH63izHZyhbQIGPVPNXQXB1nf70ftqAgVEQNw=="

#     name: Fetch data
#     runs-on: ubuntu-latest
#     continue-on-error: true
#     steps:
#       - uses: actions/checkout@v3
#       - name: Use Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: 20
#       - run: npm ci
#       - name: Run node file
#         run: npm run build --if-present

#       # - uses: stefanzweifel/git-auto-commit-action@v4
#       #   with:
#       #     commit_message: Data update

#       # - name: Deploy
#       #   uses: peaceiris/actions-gh-pages@v3
#       #   with:
#       #     github_token: ${{ secrets.GITHUB_TOKEN }}
#       #     publish_dir: ./data

#       - name: Commit report
#         run: |
#           git config --global user.name 'atageldi194229'
#           git config --global user.email 'atageldi194229@gmail.com'
#           git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

#       - name: Sleep for a few seconds
#         run: sleep 10s

#           git add -A
#           git commit -am "Automated data update"
#           git push

# ###################################
# ### Run in the end              ###
# ###################################
# run_in_the_end:
#   name: Wait 2 minutes then run workflow again
#   runs-on: ubuntu-latest
#   needs: [build]
#   steps:
#     - uses: actions/checkout@v3

#     - name: Use Node.js
#       uses: actions/setup-node@v3
#       with:
#         node-version: 16

#     - name: Wait 2 minutes
#       run: node waiter.js 120

#     - name: Retry the workflow
#       run: |
#         curl -i \
#         -X POST \
#         -H "Accept: application/vnd.github.v3+json" \
#         -H "Authorization: token ${{ secrets.ACTIONS_PAT }}" \
#         https://api.github.com/repos/atageldi194229/pinging-server/actions/workflows/34892269/dispatches \
#         -d '{"ref": "${{ github.ref }}" }'
